<section class="section">
  <div class="container">
    <h1 class="center-align">About ProjNotes</h1>
    <p class="flow-text">
      Esta aplicación fue creada para ayudar a las personas a registrar sus 
      ideas de proyectos. Es una herramienta sencilla y 
      fácil de usar que te permite crear, organizar y compartir tus ideas.
    </p>
    <p class="divider"></p>
    <p style="text-align: center;">App Version: {{ appVersion }}</p>
  </div>
</section>