<div class="row center light-blue lighten-4" 
  style="margin:3em; padding: 2em; border-radius: 1em;">
  <h1 class="header center teal-text">Bienvenido a ProjNotes</h1>
  <h3>{{ icon }}</h3>
  <div class="row center">
    <h5 class="header col s12 light grey-text text-darken-3">
      Una aplicación que te permitirá registrar las ideas de proyectos
      que se te van ocurriendo.
    </h5>
  </div>
  <div class="row center">
    <a href="/project/add" id="download-button"
      class="btn-large waves-effect waves-light teal">Registra un Proyecto</a>
  </div>
</div>