<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/styles/app.css' />
    <meta name"theme-color" content="dc143c">
    <script src="/bundle.js" defer></script>
  </head>
 

    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>